[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    irregular_object_packing/_version.py,
    docs/source/conf.py
max-line-length = 115
# Ignore some style 'errors' produced while formatting by 'black'
ignore = E203, W503, E501, W293, W291
